<section class="about">
    <h1>Cześć. Nazywam się Jakub Chełstowski.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis eaque aliquam cupiditate tenetur expedita, temporibus qui in ab, eum laboriosam placeat modi excepturi ad voluptatem possimus odit repellat magnam ratione illo sed nisi eveniet maiores autem suscipit. Sunt odit ipsum praesentium temporibus quam accusamus natus quibusdam aspernatur exercitationem quia dolores numquam id deleniti illo similique totam quos ullam, debitis minus.</p>
</section>