<section class="contact">
    <header class="contact-header">
        <!-- <h2>Kontakt</h2> -->
        <p>Wyślij mi wiadomość e-mail bezpośrednio na adres <a href="mailto:jakub.chelstowski12@wp.pl">jakub.chelstowski12@wp.pl</a> lub skorzystaj z formularza.</p>
    </header>
    <form class="contact-form">
        <div class="form-item">
            <label>Imię i Nazwisko</label>
            <input type="text" name="name">
        </div>
        <div class="form-item">
            <label>E-mail</label>
            <input type="email" name="email">
        </div>
        <div class="form-item">
            <label>Wiadomość</label>
            <textarea></textarea>
        </div>
        <button type="submit">Wyślij</button>
    </form>
</section>