<style>
    .error {
        color: #ffffff;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<section class="error">
    <h1>{{message}}</h1>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</section>
