<section class="gallery">
    <div class="item">
        <img src="images/gallery/citroen-DS.jpg" alt="Citroen DS">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <!-- <div class="item">
        <img src="images/gallery/amiens-2.jpg" alt="Amiens">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/dworek-z-lotu-ptaka.jpg" alt="Dworek z lotu ptaka">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/innsburk-kosciol.jpg" alt="Innsburk kościół">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/kapliczka-2.jpg" alt="Kapliczka">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/kswm.jpg" alt="Kościół św Marii Magdaleny Wenecja">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/powazki.jpg" alt="Powązki">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/ratusz-nowy-sacz.jpg" alt="Ratusz w Nowym Sączu">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/san-lorenzo.jpg" alt="San Lorenzo">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div>
    <div class="item">
        <img src="images/gallery/stary-ratusz.jpg" alt="Ratusz stary bamberg">
        <div class="item-overlay">
            <h3>Lorem, ipsum.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
        </div>
    </div> -->
</section>