<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jakub Chełstowski Portfolio</title>
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="app">
            <header class="app-header">
                <div class="header-brand">
                    <a href="/" title="Jakub Chełstowski Portfolio">
                        <span class="l-icon l-jch"></span>
                        <!-- <img src="images/favicon/favicon-32x32.png" alt="Jakub Chełstowski Portfolio"> -->
                    </a>
                </div>
                <nav class="header-nav">
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a href="/" class="active">PRACA</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about">O MNIE</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact">KONTAKT</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-social">
                    <a href="https://www.facebook.com/jachelstowski/" target="blank" class="social-link facebook">
                        <span class="l-icon l-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com/chelstowski.jakub/" target="blank" class="social-link instagram">
                        <span class="l-icon l-instagram"></span>
                    </a>
                </div>
            </header>
            <main class="app-main">
                <section class="gallery">
                    <div class="item">
                        <img src="images/gallery/citroen-DS.jpg" alt="Citroen DS">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <!-- <div class="item">
                        <img src="images/gallery/amiens-2.jpg" alt="Amiens">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/dworek-z-lotu-ptaka.jpg" alt="Dworek z lotu ptaka">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/innsburk-kosciol.jpg" alt="Innsburk kościół">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/kapliczka-2.jpg" alt="Kapliczka">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/kswm.jpg" alt="Kościół św Marii Magdaleny Wenecja">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/powazki.jpg" alt="Powązki">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/ratusz-nowy-sacz.jpg" alt="Ratusz w Nowym Sączu">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/san-lorenzo.jpg" alt="San Lorenzo">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/gallery/stary-ratusz.jpg" alt="Ratusz stary bamberg">
                        <div class="item-overlay">
                            <h3>Lorem, ipsum.</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, modi?</p>
                        </div>
                    </div> -->
                </section>
            </main>
            <footer class="app-footer">
                <div class="footer-links">
                    <a href="https://www.facebook.com/jachelstowski/" target="blank" class="footer-link facebook">
                        <span class="l-icon l-facebook"></span>
                        FACEBOOK
                    </a>
                    <a href="https://www.instagram.com/chelstowski.jakub/" target="blank" class="footer-link instagram">
                        <span class="l-icon l-instagram"></span>
                        INSTAGRAM
                    </a>
                </div>
            </footer>
        </div>
    </body>
</html>