<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jakub Chełstowski Portfolio</title>
        <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
        <link rel="manifest" href="images/favicon/site.webmanifest">
        <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="app">
            <header class="app-header">
                <div class="header-brand">
                    <a href="/" title="Jakub Chełstowski Portfolio">
                        <span class="l-icon l-jch"></span>
                    </a>
                </div>
                <nav class="header-nav">
                    <ul class="nav-menu">
                        <li class="nav-item">
                            <a href="/" class="{{#if work}}active{{/if}}">PRACA</a>
                        </li>
                        <li class="nav-item">
                            <a href="/about" class="{{#if about}}active{{/if}}">O MNIE</a>
                        </li>
                        <li class="nav-item">
                            <a href="/contact" class="{{#if contact}}active{{/if}}">KONTAKT</a>
                        </li>
                    </ul>
                </nav>
                <div class="header-social">
                    <a href="https://www.facebook.com/jachelstowski/" target="blank" class="social-link facebook">
                        <span class="l-icon l-facebook"></span>
                    </a>
                    <a href="https://www.instagram.com/chelstowski.jakub/" target="blank" class="social-link instagram">
                        <span class="l-icon l-instagram"></span>
                    </a>
                </div>
                <button type="button" class="hamburger">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </header>
            <aside class="app-menu">
                <button type="button" class="app-menu-close">X</button>
                <nav class="menu-nav">
                    <ul class="nav-menu">
                        <li class="menu-nav-item">
                            <a href="/" class="">PRACA</a>
                        </li>
                        <li class="menu-nav-item">
                            <a href="/about">O MNIE</a>
                        </li>
                        <li class="menu-nav-item">
                            <a href="/contact">KONTAKT</a>
                        </li>
                    </ul>
                </nav>
                <div class="menu-social">
                    <a href="https://www.facebook.com/jachelstowski/" target="blank" class="menu-social-link facebook">
                        <span class="l-icon l-facebook"></span>
                        FACEBOOK
                    </a>
                    <a href="https://www.instagram.com/chelstowski.jakub/" target="blank" class="menu-social-link instagram">
                        <span class="l-icon l-instagram"></span>
                        INSTAGRAM
                    </a>
                </div>
            </aside>
            <main class="app-main">
                {{{body}}}
            </main>
            <footer class="app-footer">
                <div class="footer-links">
                    <a href="https://www.facebook.com/jachelstowski/" target="blank" class="footer-link facebook">
                        <span class="l-icon l-facebook"></span>
                        FACEBOOK
                    </a>
                    <a href="https://www.instagram.com/chelstowski.jakub/" target="blank" class="footer-link instagram">
                        <span class="l-icon l-instagram"></span>
                        INSTAGRAM
                    </a>
                </div>
            </footer>
        </div>
        <script>
            const gallery = document.querySelector('.gallery');
            const hamburgerBtn = document.querySelector('button.hamburger');
            const menuCloseBtn = document.querySelector('button.app-menu-close');
            const menuAside = document.querySelector('aside.app-menu');

            hamburgerBtn.addEventListener('click', function() {
                menuAside.classList.add('visible');
            });

            menuCloseBtn.addEventListener('click', function() {
                menuAside.classList.remove('visible');
            });
        </script>
    </body>
</html>