@import url('https://fonts.googleapis.com/css?family=Flamenco');
@import "./logo.css";

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Flamenco', cursive;
    margin: 0;
    padding: 0;
    background-color: #1f1c1c;
}

a {
    text-decoration: none;
}

.app-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.header-brand {
    display: none;
}

.header-brand a {
    font-size: 50px;
    color: #000;
}

.header-nav {
    flex: 1;
}

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    margin: 0 20px;
}

.nav-item a {
    color: #999;
    font-weight: 600;
    transition: 150ms ease-in-out;
}

.nav-item a:hover {
    color: #000;
}

.header-social {
    display: none;
}

.social-link {
    color: #999;
    margin-left: 20px;
    font-weight: 600;
    transition: 150ms ease-in-out;
}

.social-link:hover {
    color: #000;
}

@media (min-width: 750px) {
    .app-header {
        height: 5rem;
        padding-left: 60px;
        padding-right: 60px; 
    }

    .header-brand {
        display: block;
    }

    .header-nav {
        margin: 0 100px 0 100px;
    }

    .nav-menu {
        justify-content: flex-end;
    }

    .header-social {
        display: flex;
    }
}

