@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "./logo.css";

*,
*:after,
*:before {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1f1c1c;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.text-success {
    color: #00ff00;
}

.text-danger {
    color: #ff0000;
}

.facebook:hover {
    color: #3b5998
}

.instagram:hover {
    color: #8a3ab9;
}

.spinner {
    display: none;
    animation: spin 1s infinite linear;
}
.spinner.visible {
    display: inline-block;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hamburger {
    position: relative;
    outline: none;
    border: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 6px;
    display: inline-block;
}

.hamburger-box {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
}

.hamburger-inner,
.hamburger-inner:before,
.hamburger-inner:after {
    width: 20px;
    height: 2px;
    background-color: #999;
    border-radius: 2px;
    position: absolute;
}

.hamburger-inner:before,
.hamburger-inner:after {
    content: "";
    display: block;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -1px;
}

.hamburger-inner:before {
    top: -6px;
}

.hamburger-inner:after {
    bottom: -6px;
}

.app {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100%;
}

.app__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0 1px 5px 5px rgba(0,0,0,0.3);
}

.header__brand {
    display: none;
}

.header__brand a {
    font-size: 50px;
    color: #000;
}

.header__nav {
    flex: 1;
    margin: 0 100px 0 20px;
    display: none;
}

.header__nav ul {
    display: flex;
    justify-content: flex-end;
}

.header__nav__item {
    margin: 0 20px;
}

.header__nav__item a {
    color: #999;
    letter-spacing: 2px;
    transition: 150ms ease-in-out;
}

.header__nav__item a.active {
    color: #000000;
}

.header__nav__item a:hover {
    color: #000;
}

.header__links {
    display: none;
}

.header__links__item {
    color: #999;
    margin-left: 20px;
    font-weight: 600;
    transition: 150ms ease-in-out;
}

.app__aside {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1050;
    display: none;
    flex-direction: column;
    background-color: white;
    font-size: 20px;
}

.app__aside.visible {
    display: flex;
}

.aside__nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aside__nav__item {
    margin-bottom: 30px;
}

.aside__nav__item a {
    color: #000;
    letter-spacing: 2px;
    transition: 150ms ease-in-out;
}

.aside__links__item {
    color: #000;
    display: block;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.aside__close {
    margin: 20px 20px 50px 20px;
    background-color: transparent;
    outline: none;
    border: none;
    align-self: flex-end;
    font-size: inherit;
}

.app__main {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: calc(3rem + 10px);
    padding-bottom: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (min-width: 750px) {
    .app__header {
        height: 5rem;
        padding-left: 60px;
        padding-right: 60px;
        justify-content: flex-start;
    }

    .header__brand {
        display: block;
    }

    .header__nav {
        display: inline-block;
    }

    .header__links {
        display: flex;
    }

    .hamburger {
        display: none;
    }

    .app__main {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: calc(5rem + 20px);
    }
}

